body{
  margin: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  background-color: slateblue;
}
.wrapper{
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Horizontal Vertical blur */
  background-color: white;
  overflow: hidden;
}
.month{
  margin: 0; /* since it overlaps wrapper, the corners will not have border-radius. so, give in wrapper - overflow is hidden */
  background-color: orangered; 
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.day{
  font-size: 20px;
  color: gray;
}
.date{
  font-size: 80px;
  margin: 0;
}
.year{
  margin: 20px 0px;
  color: gray;
}