* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.icons {
	width: 100%;
}
image {
	width: 20%;
}
text{
	font-family: "Arial", "sans-serif";
	font-size: 1.2rem; /* 1 rem = 16px */
	font-weight: 500;
}
/* circle{ 
	opacity: 0.2;
} */
/* .mobile { */
	/* filter: contrast(100%); */
	/* filter: saturate(3); works */
	/* filter: grayscale(100%); */
	/* filter: contrast(160%); */
	/* filter:brightness(0.5); */
	/* filter: blur(3px); */
	/* filter: invert(100%); works */
	/* filter: sepia(100%); */
	/* filter: hue-rotate(270deg); */
	/* filter: opacity(190%); works */
	/* filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); */
/* } */

.fiber {
	/* filter: brightness(0.5); */
	/* filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%); */
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(318deg) brightness(106%) contrast(102%);
	/* filter: opacity(0.5) drop-shadow(0 0 0 white); */
	 /*Changes from blue to green  */
	/* -webkit-filter : hue-rotate(270deg);
	  filter : hue-rotate(270deg); */
}
fa {
	font-size: 2.5rem;
}
